#sidebar a.active {
	font-weight: bold;
}

#sidebar a {
	text-decoration: none;
	margin: 10px 10px 0 10px;
	color: #495159;
}

#sidebar a:hover {
	background-color: #495159;
	color: #fff;
	border-radius: 2px;
}

#sidebar {
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
}
